.button {
    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 23px;
    gap: 16px;

    background: transparent;
    border: 1px solid transparent;

    width: 100%;
    height: 127px;

    border-radius: var(--borderRadius);

    .icon_box {
        transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;

        background: var(--mColorH);
        border-radius: var(--borderRadius);
    }

    &:hover {
        background: var(--mColorH);
        border: 1px solid var(--mBorderH);

        .icon_box {
            background: var(--mBorderH);
        }

        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;

            .icon_box {
                opacity: 0.5;
            }
        }
    }

    &:disabled {
        opacity: 0.2;
    }
}
