.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 10px;
    width: -webkit-fill-available;
    background: var(--panelsColor);
    outline: 1px solid var(--BorderColor);
    border-radius: var(--BorderRadius);
    overflow: auto;
    position: relative;

    .optionalContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;

        width: -webkit-fill-available;

        .textInputContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 2px;
            width: -webkit-fill-available;
            position: relative;

            .error {
                color: black;
                background: #ffcb38;
                font-weight: 900;
                padding: 5px 10px;
                border-radius: 2px;
            }

            >div {
                font-weight: 700;
                font-size: 12px;
                line-height: 140%;
                text-transform: uppercase;
                color: #abafbf;
            }

            .styledInput {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 14px 23px;
                gap: 10px;

                width: -webkit-fill-available;

                background: #0d0f14;
                border: 1px solid #3e424c;
                border-radius: 4px;

                font-weight: 400;
                font-size: 14px;
                line-height: 140%;

                color: #abafbf;

                &:focus {
                    color: white;
                    background: #1a1d24;
                    border-color: #5a5e6b;
                }
            }
        }
    }

    .rightPos {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: -webkit-fill-available;

        .sendButton {
            transition: var(--transition);
            display: flex;
            flex-direction: row;
            padding: 9px 25px;
            gap: 10px;
            background: #3E424C;
            border-radius: 58px;
            font-family: "Nunito Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            border: none;
            align-items: center;
            min-width: fit-content;

            &:hover {
                background: #3261e2;
            }
        }
    }
}