.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 10px;
    width: -webkit-fill-available;
    background: var(--panelsColor);
    outline: 1px solid var(--BorderColor);
    border-radius: var(--BorderRadius);
    overflow: auto;
    position: relative;

    .switchProblem {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        .switchButton {
            cursor: pointer;
            transition: var(--transition);
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 12px 20px;
            gap: 10px;
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.1);
            outline: 1px solid transparent;
            color: #8F94A8;
            border: 0;
            font-family: "Nunito Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;

            &:hover {
                background: rgba(0, 0, 0, 0.3);
                outline: 1px solid #5c616d;
            }
        }

        .switchButtonActive {
            background: var(--inputColor);
            outline: 1px solid #3E424C;
            color: #FFFFFF;

            &:hover {
                background: var(--inputColor);
            }
        }
    }

    .optionalContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;

        width: -webkit-fill-available;
    }

    .rightPos {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: -webkit-fill-available;

        .sendButton {
            cursor: pointer;
            transition: var(--transition);
            display: flex;
            flex-direction: row;
            padding: 9px 25px;
            gap: 10px;
            background: #3E424C;
            border-radius: 58px;
            font-family: "Nunito Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            border: none;
            align-items: center;
            min-width: fit-content;

            &:hover {
                background: #3261e2;
            }
        }
    }
}


.fullScreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 24, 30, 0.94);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    overflow: hidden;

    .fullScreenImageContainer {
        position: relative;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .fullScreenImage {
            max-width: 100%;
            max-height: 100%;
            border-radius: 6px;
            outline: 1px solid #363944;
            object-fit: contain;
        }

        .closeButton,
        .prevButton,
        .nextButton {
            position: absolute;
            background: var(--inputColor);
            border: 1px solid #363944;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            padding: 12px 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: #ccc;
            }
        }

        .closeButton {
            top: 10px;
            right: 10px;
            padding: 12px 12px;
        }

        .hotKey {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;

            position: absolute;
            width: 310px;
            height: 106px;
            left: 10px;
            bottom: 5px;;

            .hotKeyInfo {
                background: var(--inputColor);
                border: 1px solid #363944;
                border-radius: 8px;
                cursor: pointer;
                padding: 12px 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 140%;
                gap: 10px;
                text-transform: uppercase;
                
                color: #3E424C;

                .hotKeyMainInfo {
                    color: white;
                }
            }
        }

        .countSelect {
            position: absolute;
            top: 10px;
            left: 50%;
            color: white;
            transform: translateX(-50%);
            font-weight: 700;
            font-size: 20px;
        }

        .prevButton {
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .nextButton {
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}