.container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: var(--color2);
    border-radius: var(--borderRadius);
    overflow: hidden;

    .title_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: -webkit-fill-available;
        padding: 15px 25px;
        gap: 10px;

        background: rgba(89, 100, 106, 0.28);

        .title {
            font-family: 'Open Runde';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: var(--color1);
        }
    }
}
