.container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0px;
    gap: 10px;

    width: -webkit-fill-available;
    position: relative;

    &::after {
        height: 15px;
        position: absolute;
        content: "";
        bottom: -15px;
        right: 0;
        left: 0;
        background: linear-gradient(180deg, #1E2027 0%, rgba(30, 32, 39, 0) 100%);
        z-index: 1;
        pointer-events: none;
    }

    .mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        gap: 1px;

        background: #292C36;
        border: 1px solid #363944;
        border-radius: 16px;

        width: -webkit-fill-available;

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: -webkit-fill-available;
            gap: 15px;

            .imageContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 7px;
                gap: 10px;

                background: #1E2027;
                border: 1px solid #363944;
                border-radius: 8px;
            }

            .detailPage {
                .title {
                    font-weight: 900;
                    font-size: 20px;

                    color: #FFFFFF;
                }

                .description {
                    font-weight: 400;
                    font-size: 11px;

                    color: #BBC3DE;
                }
            }

        }

        button {
            transition: var(--transition);
            display: flex;
            flex-direction: row;
            padding: 9px 25px;
            gap: 10px;
            background: #3E424C;
            border-radius: 58px;
            font-family: "Nunito Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            border: none;
            align-items: center;
            min-width: fit-content;

            &:hover {
                background: #3261e2;
            }
        }
    }
}