.updateModal * {
    user-select: text !important;
}
.updateModal {
    position: relative;
    max-height: 400px;
    overflow: auto;
    padding-right: 15px;

    .version_info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        h3 {
            margin: 0;
        }
    }
    a {
        color: #3468f2;
    }
    hr {
        margin: 20px 0;
        padding: 0;
        height: 0;
        border: none;
        box-shadow: 0 0 2px 0.2px gray;
    }
}
