.page {
    font-family: 'Open Runde', sans-serif;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow-y: scroll;

    padding: 0px;
    background: var(--Main);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    .main_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 40px;
        gap: 20px;

        width: -webkit-fill-available;
        height: -webkit-fill-available;

        background: var(--MainBG);
        border-radius: 20px 20px 0px 0px;
        .extension_container {
            overflow: hidden;
        }
        .container_witch_text {
            display: flex;
            flex-direction: column;
            color: #ffffff;
            gap: 12px;
            width: 100%;

            .container_patcher {
                display: flex;
                width: 100%;
            }
        }
    }
}
