.page {
    font-family: 'Open Runde', sans-serif;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow-y: scroll;
    padding: 15px 15px 15px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    gap: 15px;
    width: -webkit-fill-available;
    height: fit-content;

    .container_witch_text {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        gap: 12px;
        width: 100%;

        .container_patcher {
            display: flex;
            width: 100%;
        }
    }
}
