.textInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    width: -webkit-fill-available;
    position: relative;

    .error {
        color: black;
        background: #ffcb38;
        font-weight: 900;
        padding: 5px 10px;
        border-radius: 2px;
    }

    >div {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: var(--textInputContainer);
    }

    .styledInput {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        padding: 14px 23px;
        gap: 10px;

        width: -webkit-fill-available;

        background: var(--inputColor);
        border: 1px solid #3e424c;
        border-radius: 4px;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        overflow: auto;

        color: #abafbf;

        &::placeholder{
            color: var(--inputPlaceholderColor);
        }

        &:focus {
            color: white;
            background: #1a1d24;
            border-color: #5a5e6b;

            ~ .charCount {
                opacity: 1;
            }
        }

        .uploadedImage {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;

            position: relative;
            width: 110px;
            height: 110px;
            min-width: 110px;

            background: var(--inputColor);
            outline: 1px solid #3E424C;
            border-radius: 6px;

            &:hover {
                outline: 1px solid #3468F2;

                &>button {
                    opacity: 1;
                }
            }

            &>button {
                transition: var(--transition);
                opacity: 0;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 3px;

                position: absolute;
                right: -5px;
                top: -5px;

                border: 0;
                color: #E54747;
                background: #1E2027;
                outline: 1px solid #363944;
                border-radius: 6px;

                &:hover {
                    background: #2F1A1A;
                    outline: 1px solid #BD4040;
                }
            }

            &>img {
                display: block;
                object-fit: cover;
                border-radius: 6px;
                height: 100%;
                width: 100%;
            }
        }

        .uploadButton {
            transition: var(--transition);
            opacity: 0;
            color: white;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0;

            width: 110px;
            height: 110px;
            min-width: 110px;

            background: #1E2027;
            outline: 1px solid #363944;
            border-radius: 6px;
        }

        &:hover {
            .uploadButton {
                cursor: pointer;
                opacity: 1;

                &:hover {
                    background: #3468F2;
                    outline: 1px solid #2353d8;
                }
            }
        }
    }

    .charCount {
        transition: var(--transition);
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        font-weight: 400;
        font-size: 9px;
        line-height: 140%;
        z-index: 222222;
        margin: 3px 3px;
        padding: 2px 4px;
        border: 1px solid var(--NavigationOnColor);
        border-radius: 4px;
        background: var(--inputColor);
        color: var(--textInputContainer);
    }
}