.container {
    cursor: not-allowed;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    gap: 10px;
    width: -webkit-fill-available;

    background: var(--mTrackBackground);
    border: 1px solid var(--mTrackBorder);
    border-radius: 12px;

    .flex_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
        width: 100%;

        .img {
            --size: 75px;
            width: var(--size);
            height: var(--size);
            border-radius: var(--borderRadius);
        }

        .gap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0px;
            gap: 6px;

            .yndex {
                font-family: 'Open Runde';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;

                color: var(--mTrackColor);
            }

            .name,
            .time {
                font-family: 'Open Runde';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;

                color: var(--mTrackColor);
            }
        }
    }

    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 11px 23px;
        background: var(--mTrackButton);
        border-radius: 10px;
        font-family: "Open Runde";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: var(--mTrackColor);
        min-width: fit-content;
    }
}