.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 25px;
    width: -webkit-fill-available;
    background: var(--panelsColor);
    outline: 1px solid var(--BorderColor);
    border-radius: var(--BorderRadius);
    overflow: auto;
    position: relative;

    .modalBlur {
        animation: showModal 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .modalBlurOff {
        animation: hideModal 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    @keyframes showModal {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    @keyframes hideModal {
        0% {
            transform: translateY(0px);
            opacity: 1;
        }

        100% {
            transform: translateY(50px);
            opacity: 0;
        }
    }

    .modalBlur,
    .modalBlurOff {
        display: flex;
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        background: #16181ed9;
        backdrop-filter: blur(19px);

        .modalCloseZone {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .modal {
            margin: auto;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-wrap: anywhere;
            overflow: hidden;
            background: #171A22;
            border: 1px solid var(--NavigationOnColor);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.51);
            border-radius: var(--BorderRadius);
            z-index: 1;
            width: 375px;
            height: fit-content;
            transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) opacity 0.8s;

            .modalTitle {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 14px 23px;
                gap: 10px;

                background: #0D0F14;
                width: 100%;

                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;

                color: #FFFFFF;

                .closeModal {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 2px;
                    gap: 10px;
                    background: transparent;
                    color: white;
                    width: 24px;
                    height: 24px;
                    border-radius: 5px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    border: 0;
                    overflow: hidden;

                    &:hover {
                        background: var(--panelsColor);
                    }
                }
            }

            .modalContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 3px 0px;
                width: 100%;
                height: fit-content;

                .modalContextButton {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background: transparent;
                    border: 0;
                    padding: 8px 23px;
                    gap: 2px;
                    width: 100%;
                    height: fit-content;
                    justify-content: space-between;
                    color: white;

                    &:hover {
                        background: #12151B;
                    }

                    .contextInfo {
                        font-family: "Nunito Sans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        color: #ABAFBF;
                        display: flex;
                        gap: 5px;
                        align-items: center;

                        .contextPreview {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 2px 10px;
                            gap: 10px;

                            background: #3E424C;
                            border-radius: 4px;

                            font-family: 'Nunito Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 140%;

                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }

    .discordRpcSettings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;

        width: -webkit-fill-available;
    }

    .discordRpc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        isolation: isolate;

        --width: 311px;
        width: var(--width);
        min-width: var(--width);
        height: fit-content;

        background: var(--Main);
        border-radius: var(--BorderRadius);
        overflow: hidden;

        .userBanner {
            width: -webkit-fill-available;
            height: 100px;

            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            z-index: 0;
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 56px 16px 16px;
            gap: 12px;
            isolation: isolate;
            position: relative;

            width: -webkit-fill-available;

            flex: none;
            order: 2;
            align-self: stretch;
            flex-grow: 0;
            z-index: 2;

            .userAvatar {
                position: absolute;
                width: 90px;
                height: 90px;
                left: 16px;
                top: -44px;

                border: 5px solid var(--MainBG);
                border-radius: 50px;
            }

            .userName {
                font-weight: 800;
                font-size: 22px;
                line-height: 30px;

                color: #f2f3f5;
            }

            .userRPC {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 8px;
                gap: 4px;

                width: -webkit-fill-available;

                background: var(--MainBG);
                border-radius: var(--BorderRadius);

                .status {
                    font-weight: 800;
                    font-size: 12px;
                    line-height: 16px;

                    color: #d5d8dc;
                }

                .statusRPC {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 17px;

                    width: -webkit-fill-available;

                    border-radius: 10px;

                    .flex_container {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 10px;

                        width: -webkit-fill-available;

                        .img {
                            --imgSize: 58px;
                            width: var(--imgSize);
                            height: var(--imgSize);
                            background: #4e5058;
                            border-radius: var(--BorderRadius);
                        }

                        .gap {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 1px;

                            width: -webkit-fill-available;

                            .appName {
                                font-weight: 800;
                                font-size: 14px;
                                line-height: 19px;

                                color: #d5d8dc;
                            }

                            .time,
                            .name {
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 16px;
                                text-overflow: ellipsis;
                                flex: none;
                                overflow: hidden;
                                white-space: nowrap;
                                color: #d5d8dc;
                                width: 190px;
                            }
                        }
                    }
                }

                .buttonRpc {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: -webkit-fill-available;

                    .button {
                        box-sizing: border-box;
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 9px 0px;
                        gap: 10px;

                        width: -webkit-fill-available;

                        background: var(--NavigationOnColor);
                        border-radius: var(--BorderRadius);

                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;

                        color: #fafafa;

                        &:hover {
                            background: #4e525d;
                        }
                    }
                }
            }
        }
    }
}

.optionalContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: -webkit-fill-available;

    .optionalTitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;

        color: white;
    }
}

.line {
    width: -webkit-fill-available;
    height: 1px;
    background: #3e424c;
}

.openModalButton {
    cursor: pointer;
    color: #A4BDFF;
    &:hover {
        color: #8ca5eb;
    }
}

.textInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    width: -webkit-fill-available;
    position: relative;

    .error {
        color: black;
        background: #ffcb38;
        font-weight: 900;
        padding: 5px 10px;
        border-radius: 2px;
    }

    >div {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: #abafbf;
    }

    .styledInput {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 23px;
        gap: 10px;

        width: -webkit-fill-available;

        background: #0d0f14;
        border: 1px solid #3e424c;
        border-radius: 4px;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        color: #abafbf;

        &:focus {
            color: white;
            background: #1a1d24;
            border-color: #5a5e6b;
        }
    }
}