.extensionCard {
    height: 267px;
    border-radius: 8px;
    position: relative;
    padding: 24px;
    cursor: pointer;
    outline: 1px solid var(--BorderColor);
    background-size: 170% !important;
    background-position: 50% 50% !important;

    &:hover {
        background-size: 150% !important;
        outline: 1px solid #5d6480;

        &>.imageOverlay {
            gap: 8px;

            &>.leftOrig{
                gap: 12px;
                &>.themeImage {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        &>.themeDescription {
            -webkit-line-clamp: 7;
        }
    }

    &>.imageOverlay {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 0px 16px;
        gap: 16px;
        width: 100%;
        transition: var(--transition);

        &>.leftOrig {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            gap: 24px;
            width: 100%;
            transition: var(--transition);

            &>.themeImage {
                transition: var(--transition);
                width: 55px;
                height: 55px;
                border-radius: 6px;
            }

            &>.detailTop {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                width: 100%;

                &>.themeTitle {
                    width: 132px;

                    font-weight: 700;
                    font-size: 18px;
                    line-height: 23px;

                    display: flex;
                    align-items: center;

                    color: #FFFFFF;

                    mix-blend-mode: normal;

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
                    text-wrap: nowrap;
                }

                &>.themeAuthor {
                    width: 132px;

                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;

                    display: flex;
                    align-items: center;

                    color: #BBC3DE;

                    mix-blend-mode: normal;

                    flex: none;
                    order: 3;
                    align-self: stretch;
                    flex-grow: 0;
                    text-wrap: nowrap;
                }
            }
        }

        &>.rightOrig {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-wrap: nowrap;
            color: #BBC3DE;
            position: absolute;
            right: 24px;
        }
    }

    &>.themeDescription {
        transition: var(--transition);
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}