@font-face {
    font-family: 'Open Runde';
    font-weight: 400;
    src: url(../assets/fonts/OpenRunde-Regular.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 500;
    src: url(../assets/fonts/OpenRunde-Medium.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 600;
    src: url(../assets/fonts/OpenRunde-Semibold.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 700;
    src: url(../assets/fonts/OpenRunde-Bold.otf);
}

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap'); */

* {
    font-family: 'Open Runde';
    /* font-style: normal;
    font-weight: 600; */
    color: #f4ecca;
    user-select: none;
}

:root {
    --color2: #a9a9a933;
}

body {
    display: flex;
    background: #0f0e0e;
    color: #f4ecca;
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: fit-content;
    -webkit-app-region: drag;
    background: var(--color2);
    padding: 15px 40px;
    border-radius: 0 0 15px 15px;
}

footer {
    display: flex;
    justify-content: center;
    color: #fff;
    height: fit-content;
    background: var(--color2);
    padding: 5px 40px;
    gap: 15px;
    border-radius: 15px 15px 0 0;
    align-items: center;
}

.logoapp {
    border-radius: 12px;
    background: #f4ecca;
    height: 50px;
}

.button-title {
    cursor: pointer;
    width: 75px;
    height: -webkit-fill-available;
    border: 0;
    background: #ffffff00;
    -webkit-app-region: no-drag;
    border-radius: 10px;
}

.button-title:hover {
    background: #ffffff10;
}

.logoplace {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logoplace > span {
    font-size: 22px;
    font-weight: 900;
}

.main {
    height: 100%;
    padding: 15px;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

.container {
    background: rgba(120, 120, 120, 0.2);
    border: 1px solid #4c4c4b;
    border-radius: 15px;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

.button {
    cursor: pointer;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
    border: 0;
    border-radius: 10px;
    background: #403e36;
    color: #f4ecca;
    padding: 14px 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    outline: 0px solid #f4ecca;
}

.button:hover {
    transition: cubic-bezier(0, 0.513, 0.1, 0.955) 0.45s;
    font-size: 21px;
    opacity: 0.8;
    outline: 8px solid #f4ecca;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: #364037;
    color: #caf4ce;
}

.button:disabled:hover {
    font-size: 20px;
    opacity: 0.5;
    background: #364037;
    color: #caf4ce;
    outline: 0;
}

.dizb {
    opacity: 0.2;
}

.dizb:hover {
    font-size: 20px;
    opacity: 0.2;
    outline: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.dialog_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.svg_link {
    background: #ffffff00;
    border-radius: 10px;
    padding: 15px;
}

.svg_link:hover {
    background: #ffffff10;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 28px 40px;
    gap: 20px;
    background: rgba(19, 19, 19, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.main_option:hover {
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.05s;
    background: rgba(83, 83, 83, 0.1);
}

.H1 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    color: #f4ecca;
}

#style_select {
    background: #403e36;
    padding: 14px 23px;
    border: 0;
    border-radius: 10px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

#style_select:hover {
    transition: cubic-bezier(0, 0.513, 0.1, 0.955) 0.45s;
    opacity: 0.8;
    outline: 8px solid #f4ecca;
}
