@font-face {
    font-family: 'Open Runde';
    font-weight: 400;
    src: url(../assets/fonts/OpenRunde-Regular.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 500;
    src: url(../assets/fonts/OpenRunde-Medium.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 600;
    src: url(../assets/fonts/OpenRunde-Semibold.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 700;
    src: url(../assets/fonts/OpenRunde-Bold.otf);
}

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap'); */

:root {
    --bg: #181b1e;
    --color1: #cadbf4;
    --color2: #2e343b;
    --color3: #363a40;
}

* {
    font-family: 'Open Runde';
    /* font-style: normal;
    font-weight: 600; */
    color: var(--color1);
    user-select: none;
}

body {
    display: flex;
    background: var(--bg);
    color: var(--color1);
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: fit-content;
    -webkit-app-region: drag;
    background: var(--color2);
    padding: 15px 40px;
    border-radius: 0 0 15px 15px;
}

footer {
    display: flex;
    justify-content: center;
    color: #fff;
    height: fit-content;
    background: var(--color2);
    padding: 5px 40px;
    gap: 15px;
    border-radius: 15px 15px 0 0;
    align-items: center;
}

.logoapp {
    border-radius: 12px;
    background: var(--color1);
    height: 50px;
}

.button-title {
    cursor: pointer;
    width: 75px;
    height: -webkit-fill-available;
    border: 0;
    background: #ffffff00;
    -webkit-app-region: no-drag;
    border-radius: 10px;
}

.button-title:hover {
    background: #ffffff10;
}

.logoplace {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logoplace > span {
    font-size: 22px;
    font-weight: 900;
}

.main {
    height: 100%;
    padding: 15px;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

.container {
    background: rgba(120, 120, 120, 0.2);
    border: 1px solid #4c4c4b;
    border-radius: 15px;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

.button {
    cursor: pointer;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
    width: -webkit-fill-available;
    border: 0;
    border-radius: 10px;
    background: var(--color3);
    color: var(--color1);
    padding: 14px 23px;
    outline: 0px solid var(--color1);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
}

.button:hover {
    transition: cubic-bezier(0, 0.513, 0.1, 0.955) 0.45s;
    font-size: 17px;
    opacity: 0.8;
    outline: 4px solid var(--color1);
}

.button:disabled {
    font-size: 18px;
    cursor: not-allowed;
    opacity: 0.5;
    background: #364037;
    color: #caf4ce;
}

.button:disabled:hover {
    opacity: 0.5;
    background: #364037;
    color: #caf4ce;
    outline: 0;
}

.dizb {
    opacity: 0.2;
}

.dizb:hover {
    font-size: 17px;
    opacity: 0.2;
    outline: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px; 
}

.dialog_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.svg_link {
    background: #ffffff00;
    border-radius: 10px;
    padding: 15px;
}

.svg_link:hover {
    background: #ffffff10;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 28px 40px;
    gap: 20px;
    background: #24272b1c;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.main_option:hover {
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.05s;
    background: #24272b8c;
}

.H1 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    color: var(--color1);
}

.custom_select {
    position: relative;
    display: inline-block;
    background: var(--color3);
    border-radius: 10px;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s;
    outline: 0px solid var(--color1);
    /* border: 1px solid #fff; */
}

.custom_select:hover {
    transition: cubic-bezier(0, 0.513, 0.1, 0.955) 0.45s;
    font-size: 16px;
    outline: 4px solid var(--color1);
}

.select_selected {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

/* .select_selected:hover {
    transition: cubic-bezier(0, 0.513, 0.1, 0.955) 0.45s;
    scale: 0.9;
} */

.select_items {
    transform: translateY(2px);
    scale: 0.9;
    transition: cubic-bezier(0, 0.513, 0.1, 0.955) 0.45s;
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: #f9f9f9;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.select_items div {
    transition: cubic-bezier(0, 0.513, 0.1, 0.955) 0.45s;
    padding: 12px 16px;
    cursor: pointer;
}

.select_items div:hover {
    background: #2a2d31;
    padding: 12px 25px;
}

.select_items:hover {
    transform: translateY(-25px);
    scale: 1.1;
    outline: 4px solid var(--color1);
}

.imageTheme {
    width: 59px;
    border-radius: 8px;
}

.containerTheme {
    background: var(--color3);
    display: flex;
    gap: 22px;
    align-items: center;
}
