.main_window {
    display: flex;
    width: -webkit-fill-available;
    bottom: 0;
    justify-content: center;
    position: absolute;
    top: 50px;
    align-items: center;
    padding: 0 60px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 25px;
        gap: 15px;

        .policy {
            height: 430px;
            overflow: scroll;
            background: var(--MainBG);
            border-radius: var(--BorderRadius);
            padding: 20px;
            margin-bottom: 10px;
        }

        .discordAuth {
            transition: ease-in-out all 0.1s;
            cursor: pointer;
            display: flex;
            border-radius: 50px;
            padding: 10px 19px;
            width: 100%;
            border: 0;
            background: #3468f2;
            align-items: center;
            justify-content: center;
            gap: 10px;

            font-weight: 700;
            font-size: 14px;
            line-height: 140%;

            color: #ffffff;

            &:disabled {
                opacity: 0.3 !important;

                &:hover {
                    background: #3468f2;
                    cursor: not-allowed;
                }
            }

            &:hover {
                background: #3261e2;
            }
        }
    }
}
