.main_window {
    display: flex;
    width: -webkit-fill-available;
    bottom: 0;
    justify-content: center;
    position: absolute;
    top: 50px;
    align-items: center;
    padding: 0 60px;

    > div {
        max-width: 1157px;
        width: -webkit-fill-available;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 25px;
            gap: 20px;
            width: -webkit-fill-available;

            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;

            text-transform: uppercase;

            color: #ffffff;
        }
    }
}
