.main_window {
    display: flex;
    width: -webkit-fill-available;
    bottom: 0;
    justify-content: center;
    position: absolute;
    top: 50px;
    align-items: center;
    padding: 0 60px;

    > div {
        max-width: 1157px;
        width: -webkit-fill-available;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px;
            gap: 20px;
            width: -webkit-fill-available;
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: #ffffff;

            .animBan {
                width: 300px;
                position: relative;
                height: 380px;
                display: flex;
                align-items: center;
                justify-content: center;

                .svg1 {
                    order: 0;
                    position: absolute;
                    animation: animSvg1 9.2s
                        cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
                }

                .svg2 {
                    position: absolute;
                    animation: animSvg2 9.2s
                        cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
                }
            }

            @keyframes animSvg1 {
                0% {
                    transform: rotate(-15deg) scale(1) translate(-30px, -10px);
                    filter: drop-shadow(0px 0px 45px #eb736d00);
                    opacity: 0.3;
                }

                5% {
                    transform: rotate(-30deg) scale(1.2) translate(-70px, -30px);
                    filter: drop-shadow(0px 0px 45px #eb736d00);
                    opacity: 0.3;
                }

                10% {
                    transform: rotate(-15deg) scale(1.3) translate(-30px, -10px);
                    z-index: 3;
                    filter: drop-shadow(0px 0px 45px #eb746d);
                    opacity: 1;
                }

                50% {
                    transform: rotate(-15deg) scale(1.3) translate(-30px, -10px);
                    z-index: 3;
                    filter: drop-shadow(0px 0px 45px #eb746d);
                    opacity: 1;
                }

                55% {
                    transform: rotate(-30deg) scale(1.2) translate(-70px, -30px);
                    filter: drop-shadow(0px 0px 45px #eb736d00);
                    opacity: 0.3;
                }

                60% {
                    transform: rotate(-15deg) scale(1) translate(-30px, -10px);
                    filter: drop-shadow(0px 0px 45px #eb736d00);
                    opacity: 0.3;
                }

                100% {
                    transform: rotate(-15deg) scale(1) translate(-30px, -10px);
                    filter: drop-shadow(0px 0px 45px #eb736d00);
                    opacity: 0.3;
                }
            }

            @keyframes animSvg2 {
                0% {
                    transform: rotate(15deg) scale(1.3) translate(30px, -10px);
                    z-index: 3;
                    filter: drop-shadow(0px 0px 45px #eb746d);
                    opacity: 1;
                }

                5% {
                    transform: rotate(30deg) scale(1.2) translate(70px, -30px);
                    z-index: 3;
                    filter: drop-shadow(0px 0px 45px #eb746d);
                    opacity: 1;
                }

                10% {
                    transform: rotate(15deg) scale(1) translate(30px, -10px);
                    z-index: 2;
                    filter: drop-shadow(0px 0px 45px #eb736d00);
                    opacity: 0.3;
                }

                50% {
                    transform: rotate(15deg) scale(1) translate(30px, -10px);
                    z-index: 2;
                    filter: drop-shadow(0px 0px 45px #eb736d00);
                    opacity: 0.3;
                }

                55% {
                    transform: rotate(30deg) scale(1.2) translate(70px, -30px);
                    z-index: 3;
                    filter: drop-shadow(0px 0px 45px #eb746d);
                    opacity: 1;
                }

                60% {
                    transform: rotate(15deg) scale(1.3) translate(30px, -10px);
                    z-index: 3;
                    filter: drop-shadow(0px 0px 45px #eb746d);
                    opacity: 1;
                }

                100% {
                    transform: rotate(15deg) scale(1.3) translate(30px, -10px);
                    z-index: 3;
                    filter: drop-shadow(0px 0px 45px #eb746d);
                    opacity: 1;
                }
            }
        }
    }
}
