.nav_bar {
    display: flex;
    justify-content: center;
    color: var(--color1);
    height: fit-content;
    -webkit-app-region: drag;
    padding: 0 0 0 25px;
    width: -webkit-fill-available;
    z-index: 9005;

    .fix_size {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .app_menu {
            display: flex;
            align-items: center;
            gap: 16px;

            .logoplace {
                display: flex;
                align-items: center;
                gap: 8px;
                background: var(--Main);
                outline: solid 0px var(--Main);
                transition: var(--transition);

                &:hover {
                    border-radius: 2px;
                    background: var(--MainBG);
                    outline: solid 9px var(--MainBG);
                }

                .false {
                    transform: rotate(0deg);
                    transition: var(--transition);
                }

                .true {
                    transform: rotate(180deg);
                    transition: var(--transition);
                }

                .logoapp {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                }

                span {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 140%;

                    color: var(--HeaderBarTextColor);
                }
            }

            button {
                cursor: pointer;
                -webkit-app-region: no-drag;
                background: none;
                border: none;
                font-size: 15px;
                font-weight: 500;
                color: var(--HeaderBarTextColor);
                text-align: left;

                &:hover {
                    color: white;
                }
            }
        }

        .event_container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            width: fit-content;
            height: fit-content;

            .menu {
                display: flex;
                align-items: center;
                gap: 15px;

                .badges_container {
                    -webkit-app-region: no-drag;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 5px;
                    background: #232630;
                    border-radius: 84px;
                    height: 26px;

                    .badge {
                        position: relative;
                        display: flex;

                        img {
                            transition:
                                width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
                                height 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                            width: 26px;
                            height: 26px;
                            background: transparent;
                            cursor: pointer;

                            &:hover {
                                background: #232630;
                                border-radius: 16px;
                                width: 36px;
                                height: 36px;
                            }
                        }

                        &:hover .tooltip {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    * path {
                        stroke: none;
                    }
                }

                .user_container {
                    cursor: pointer;
                    position: relative;
                    transition: var(--transition);
                    -webkit-app-region: no-drag;
                    padding: 0px 14px 0px 0px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 10px;
                    background: #25332565;

                    border-radius: 43px;
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 140%;
                    color: var(--online);
                    align-items: center;

                    &:hover {
                        background: #253325;

                        > img {
                            outline: 2px solid transition;
                        }
                    }

                    &:hover .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .user_container > img {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding: 1px;
                    gap: 10px;
                    outline: 2px solid var(--online);
                    border-radius: 43px;

                    --size: 34px;
                    width: var(--size);
                    height: var(--size);
                }
            }

            .button_container {
                display: flex;

                .button_title {
                    transition: var(--transition);
                    cursor: pointer;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    border: 0;
                    padding: 16px;
                    background: transparent;
                    -webkit-app-region: no-drag;

                    &:hover {
                        background: var(--MainBG);
                    }
                }
            }
        }
    }
}

.tooltip {
    visibility: hidden;

    width: auto;
    max-width: fit-content;
    white-space: nowrap;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25);
    background: var(--Main);
    outline: 1px solid var(--BorderColor);
    border-radius: var(--BorderRadius);
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    position: absolute;
    z-index: 99999999999;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s;
}
