.nav_bar {
    display: flex;
    justify-content: center;
    color: var(--color1);
    height: fit-content;
    -webkit-app-region: drag;
    padding: 0 0 0 25px;
    width: -webkit-fill-available;
    z-index: 9005;

    .fix_size {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .app_menu {
            display: flex;
            align-items: center;
            gap: 16px;

            .logoplace {
                display: flex;
                align-items: center;
                gap: 8px;
                background: var(--Main);
                outline: solid 0px var(--Main);
                transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;

                &:hover {
                    border-radius: 2px;
                    background: var(--MainBG);
                    outline: solid 9px var(--MainBG);
                }

                .false {
                    transform: rotate(0deg);
                    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
                }

                .true {
                    transform: rotate(180deg);
                    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
                }

                .logoapp {
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                }

                span {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 140%;

                    color: var(--HeaderBarTextColor);
                }
            }

            button {
                cursor: pointer;
                -webkit-app-region: no-drag;
                background: none;
                border: none;
                font-size: 15px;
                font-weight: 500;
                color: var(--HeaderBarTextColor);
                text-align: left;
                &:hover {
                    color: white;
                }
            }
        }

        .event_container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            width: fit-content;
            height: fit-content;

            .menu {
                display: flex;
                align-items: center;
                gap: 7px;

                .badges_container {
                    display: flex;
                    -webkit-app-region: no-drag;
                    align-items: center;
                    gap: 5px;

                    background: var(--MainBG);
                    border-radius: var(--BorderRadius);
                    padding: 4px 12px;

                    .badge {
                        position: relative;
                        display: flex;

                        img {
                            width: 26px;
                            height: 26px;
                            cursor: pointer;
                        }

                        .tooltip {
                            visibility: hidden;

                            width: auto;
                            max-width: fit-content;
                            white-space: nowrap;
                            box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25);
                            background: var(--Main);
                            outline: 1px solid var(--BorderColor);
                            border-radius: var(--BorderRadius);
                            color: #fff;
                            text-align: center;
                            padding: 5px 15px;
                            position: absolute;
                            z-index: 99999999999;
                            top: 125%;
                            left: 50%;
                            transform: translateX(-50%);

                            opacity: 0;
                            transition: opacity 0.3s;
                        }

                        &:hover .tooltip {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    * path {
                        stroke: none;
                    }
                }

                .user_container {
                    -webkit-app-region: no-drag;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px 12px 0px 0px;
                    gap: 12px;

                    font-weight: 700;
                    font-size: 14px;
                    line-height: 140%;

                    color: var(--HeaderBarTextColor);

                    background: var(--MainBG);
                    border-radius: var(--BorderRadius);
                }
                .user_container > img {
                    --size: 34px;
                    width: var(--size);
                    height: var(--size);
                    border-radius: var(--BorderRadius);
                }
            }

            .button_container {
                display: flex;

                .button_title {
                    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
                    cursor: pointer;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    border: 0;
                    padding: 16px;
                    background: transparent;
                    -webkit-app-region: no-drag;

                    &:hover {
                        background: var(--MainBG);
                    }
                }
            }
        }
    }
}
