.nav_bar {
    display: flex;
    justify-content: center;
    color: var(--color1);
    height: fit-content;
    -webkit-app-region: drag;
    background: var(--color2);
    padding: 0 25px;
    width: -webkit-fill-available;

    .fix_size {
        display: flex;
        width: 1070px;
        justify-content: space-between;

        .logoplace {
            display: flex;
            align-items: center;
            gap: 10px;

            .logoapp {
                --size: 30px;
                width: var(--size);
                height: var(--size);
            }

            span {
                font-size: 18px;
                font-weight: 500;
                color: #7bb0ff;
            }
        }

        .event_container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            width: fit-content;
            height: fit-content;

            .menu {
                display: flex;
                align-items: center;
                gap: 7px;

                .update_download {
                    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 4px 12px;

                    border-radius: var(--borderRadius);
                    -webkit-app-region: no-drag;

                    background: var(--download);
                    border: none;

                    &:hover {
                        background: var(--downloadH);

                        > svg {
                            fill: var(--downloadColorH);
                        }
                    }

                    > svg {
                        fill: var(--downloadColor);
                    }
                }

                .badges_container {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    background: var(--color3);
                    border-radius: var(--borderRadius);
                    padding: 4px 8px;

                    * path {
                        stroke: none;
                    }
                }

                .user_container {
                    > img {
                        --size: 34px;
                        width: var(--size);
                        height: var(--size);
                    }

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px 12px 0px 0px;
                    gap: 12px;

                    background: var(--color3);
                    border-radius: var(--borderRadius);
                }
            }

            .button_container {
                display: flex;

                .button_title {
                    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
                    cursor: pointer;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    border: 0;
                    padding: 14px;
                    background: transparent;
                    -webkit-app-region: no-drag;

                    &:hover {
                        background: var(--color2H);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1070px) {
        .fix_size {
            transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
            width: 1070px;
        }
    }

    @media only screen and (min-width: 1900px) {
        .fix_size {
            transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
            width: 100%;
        }
    }
}
