.children {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.main_window {
    display: flex;
    position: absolute;
    max-width: 1157px;
    width: -webkit-fill-available;
    bottom: 0;
    top: 50px;

    .navigation_bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 18px;

        .navigation_buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        .update_download {
            transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            padding: 10px;
            border-radius: var(--borderRadius);
            background: var(--download);
            border: none;
            justify-content: center;
            align-items: center;
            width: fit-content;

            &:hover {
                background: var(--downloadH);

                >svg {
                    fill: var(--downloadColorH);
                }
            }

            >svg {
                fill: var(--downloadColor);
            }
        }
    }
}