@font-face {
    font-family: 'Open Runde';
    font-weight: 400;
    src: url(../../static/assets/fonts/OpenRunde-Regular.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 500;
    src: url(../../static/assets/fonts/OpenRunde-Medium.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 600;
    src: url(../../static/assets/fonts/OpenRunde-Semibold.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 700;
    src: url(../../static/assets/fonts/OpenRunde-Bold.otf);
}

:root {
    --bg: #181b1e;
    --color1: #bcd7ff;
    --color2: #21262d;
    --color2H: #2d3643;
    --color3: #2a323e;
    --border: #384150;
    --borderH: #3f5370;
    --borderRadius: 5px;

    --downloadColor: #75ff9c;
    --downloadColorH: #60ff8c;
    --download: #2a3e39;
    --downloadH: #2a4b43;

    /* Style In MainContainer => --m */
    --mInColor: var(--color1);
    --mColor: #2a323e;
    --mColorH: #344154;
    --mBorder: #394454;
    --mBorderH: #455c80;

    --mInColorActive: #bcffef;
    --mColorActive: #2a3e39;
    --mColorActiveH: #2f4d46;
    --mBorderActive: #39544d;
    --mBorderActiveH: #406f63;

    --mTrackColor: #d5d8dc;
    --mTrackButton: #4e5058;
    --mTrackBackground: #111214;
    --mTrackBorder: #394454;
}

* {
    user-select: none;
    font-family: 'Open Runde', serif;
    color: var(--color1);
    stroke: var(--color1);
}

.discord_svg__noStroke {
    stroke: none;
}

a {
    text-decoration: none;
}

a.active > button {
    background: var(--color2);
    border: 1px solid var(--border);
}

body {
    display: flex;
    background: var(--bg);
    color: var(--color1);
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

:disabled {
    cursor: not-allowed;
}
