@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --white: #f0f0f0;
    --primary: #ffcc66;
    --red: #ed4245;

    --medium: #131317;
    --mediumer: #1c1c22;
    --dark: #08070d;

    --gray: #777;
    --grayer: #25252d;
    --Main: #16181e;
    --MainBG: #1e2027;

    --BorderColor: #363944;
    --BorderRadius: 8px;

    /* Only Header*/
    --HeaderBarTextColor: #e4e5ea;

    /* Only Nav*/
    --NavigationOnColor: #3e424c;
    --NavigationIconDefaultSvgColor: #8f94a8;

    --downloadColor: #75ff9c;
    --download: #2a3e3900;
    --downloadH: #1b2e2a;

    /* In panels */
    --panelsColor: #292c36;

    /* Animation */
    --transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
}

* {
    user-select: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    max-width: -webkit-fill-available;
}

.discord_svg__noStroke,
.discordLogin_svg__noStroke,
.discordAuth_svg__noStroke {
    stroke: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

a.active > button {
    background: var(--NavigationOnColor);
    border: none;

    & > svg {
        fill: white;
    }
}

body {
    display: flex;
    background: var(--Main);
    color: var(--color1);
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: -webkit-fill-available;
}

:focus-visible {
    outline: 1px double #ffffff;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:disabled {
    cursor: not-allowed;
}

/***************************************************
                * Generated by SVG Artista on 8/1/2024, 8:55:25 PM
                * MIT license (https://opensource.org/licenses/MIT)
                * W. https://svgartista.net
                **************************************************/

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 322.2289123535156px;
        stroke-dasharray: 322.2289123535156px;
    }

    100% {
        stroke-dashoffset: 644.4578247070312px;
        stroke-dasharray: 322.2289123535156px;
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(228, 229, 234);
    }
}

.discordAuth_svg__svg-elem-1 {
    animation:
        animate-svg-stroke-1 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 35.941123962402344px;
        stroke-dasharray: 35.941123962402344px;
    }

    100% {
        stroke-dashoffset: 71.88224792480469px;
        stroke-dasharray: 35.941123962402344px;
    }
}

.discordAuth_svg__svg-elem-2 {
    animation:
        animate-svg-stroke-2 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.39, 0.575, 0.565, 1)
            0.8500000000000001s both;
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 175.69618225097656px;
        stroke-dasharray: 175.69618225097656px;
    }

    100% {
        stroke-dashoffset: 351.3923645019531px;
        stroke-dasharray: 175.69618225097656px;
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(228, 229, 234);
    }
}

.discordAuth_svg__svg-elem-3 {
    animation:
        animate-svg-stroke-3 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
}
