@font-face {
    font-family: 'Open Runde';
    font-weight: 400;
    src: url(../../static/assets/fonts/OpenRunde-Regular.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 500;
    src: url(../../static/assets/fonts/OpenRunde-Medium.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 600;
    src: url(../../static/assets/fonts/OpenRunde-Semibold.otf);
}

@font-face {
    font-family: 'Open Runde';
    font-weight: 700;
    src: url(../../static/assets/fonts/OpenRunde-Bold.otf);
}

:root {
    --bg: #1b1f21;
    --color0: #b6c7d2;
    --color1: #ddf2ff;
    --color2: #2d3236;
    --color2H: #282d2f;
    --color2OffCheck: #89969e;
    --color3: #394045;
    --border: #535d64;
    --borderH: #64737c;
    --borderRadius: 10px;

    --downloadColor: #75ff9c;
    --downloadColorH: #60ff8c;
    --download: #2a3e39;
    --downloadH: #2a4b43;

    /* Style In MainContainer => --m */
    --mInColor: var(--color1);
    --mColor: #3a4145;
    --mColorH: #4e595f;
    --mBorder: var(--border);
    --mBorderH: var(--borderH);

    --mInColorActive: #ebfff5;
    --mColorActive: #3a453f;
    --mColorActiveH: #475850;
    --mBorderActive: #53645c;
    --mBorderActiveH: #698276;

    --mTrackColor: #d5d8dc;
    --mTrackButton: #4e5058;
    --mTrackBackground: #111214;
    --mTrackBorder: #394454;
}

* {
    user-select: none;
    font-family: 'Open Runde', serif;
    color: var(--color1);
    stroke: var(--color1);
}

.discord_svg__noStroke,
.discordLogin_svg__noStroke {
    stroke: none;
}

a {
    text-decoration: none;
}

a.active > button {
    background: var(--color2);
    border: none;
    & > svg {
        fill: var(--color1);
    }
}

button:active:hover {
    scale: 0.98;
}

body {
    display: flex;
    background: var(--bg);
    color: var(--color1);
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
}

:disabled {
    cursor: not-allowed;
}
