.button {
    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;

    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 23px;
    gap: 10px;

    background: var(--mColor);
    border: 1px solid var(--mBorder);
    border-radius: var(--borderRadius);

    font-family: 'Open Runde';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    color: var(--mInColor);
    width: 100%;

    &:hover {
        background: var(--mColorH);
        border: 1px solid var(--mBorderH);
        &:disabled {
            opacity: 0.2;
            background: var(--mColor);
            border: 1px solid var(--mBorder);
        }
    }

    &:disabled {
        opacity: 0.2;
    }
}
