.checkbox {
    cursor: pointer;
    transition: var(--transition);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;

    width: -webkit-fill-available;

    border-radius: 10px;

    &:hover {
        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;
        }
    }

    &:disabled {
        opacity: 0.2;
    }

    .checkboxInner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: -webkit-fill-available;

        .input_checkbox {
            display: none;
        }

        .children_content {
            display: flex;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;

            color: #ffffff;
        }

        .custom_checkbox {
            transition: var(--transition);
            position: relative;
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px;
            gap: 25px;

            width: 50px;
            height: 22px;

            background: #3e424c;
            outline: 2px solid #646b7d;
            border-radius: 50px;

            .checkbox_slider {
                transition: var(--transition);

                position: absolute;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 6px 10px;
                left: 5px;

                background: white;
                border-radius: 50px;
            }
        }
    }

    .description {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        color: #c7c9d2;
    }
}

.active {
    &:hover {
        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;
        }
    }

    .checkboxInner {
        .custom_checkbox {
            background: #2d57c7;
            outline: 2px solid #2e64f5;

            .checkbox_slider {
                padding: 6px 10px;
                left: 25px;
            }
        }
    }
}
