.checkbox {
    cursor: pointer;
    transition: ease-in-out all 0.1s;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 23px;
    border-radius: var(--borderRadius);
    background: var(--mColor);
    border: 1px solid var(--mBorder);
    font-family: 'Open Runde';
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    justify-content: space-between;

    &:hover {
        background: var(--mColorH);
        border: 1px solid var(--mBorderH);

        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;
        }
    }

    &:disabled {
        opacity: 0.2;
    }

    .input_checkbox {
        display: none;
    }

    .children_content {
        display: flex;
        gap: 10px;
        color: var(--mInColor);
    }

    .custom_checkbox {
        transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
        position: relative;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;
        gap: 25px;

        width: 81px;
        height: 22px;

        background: var(--mInColor);
        border-radius: var(--borderRadius);

        .checkbox_slider {
            transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;
            position: absolute;
            left: 2px;
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 9px 24px;
            gap: 10px;

            background: rgba(0, 0, 0, 0.83);
            border-radius: calc(var(--borderRadius) - 1px);
        }
    }
}

.active {
    background: var(--mColorActive);
    border: 1px solid var(--mBorderActive);

    &:hover {
        background: var(--mColorActiveH);
        border: 1px solid var(--mBorderActiveH);

        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;
        }
    }

    .children_content {
        display: flex;
        gap: 10px;
        color: var(--mInColorActive);
    }

    .custom_checkbox {
        background: var(--mInColorActive);

        .checkbox_slider {
            padding: 9px 26px;
            left: 27px;
        }
    }

    & svg {
        fill: var(--mInColorActive);
    }
}
