.button {
    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;

    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 25px;
    gap: 10px;

    width: 349px;
    height: 48px;

    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--borderRadius);

    font-family: 'Open Runde';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    color: var(--color1);

    &:hover {
        background: var(--color2H);
        border: 1px solid var(--borderH);
        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: 1px solid transparent;
        }
    }

    &:disabled {
        opacity: 0.2;
    }
}
