.button {
    transition: var(--transition);

    cursor: pointer;
    display: flex;
    background: transparent;
    border: none;
    border-radius: 16px;
    padding: 12px;

    & > svg {
        fill: var(--NavigationIconDefaultSvgColor);
    }

    &:hover {
        background: var(--NavigationOnColor);
        &:hover {
            & > svg {
                fill: white;
            }
        }
        &:disabled {
            opacity: 0.5;
            background: transparent;
            border: none;
            & > svg {
                fill: var(--NavigationIconDefaultSvgColor);
            }
        }
    }

    &:disabled {
        opacity: 0.5;
    }
}
