.button {
    transition: cubic-bezier(0.05, 0.99, 0.05, 0.99) all 0.8s;

    cursor: pointer;
    display: flex;
    background: transparent;
    border: none;
    border-radius: var(--borderRadius);
    padding: 12px;

    &>svg {
        fill: var(--color2OffCheck);
    }

    &:hover {
        background: var(--color2H);
        &>svg {
            fill: var(--color1);
        }
        &:disabled {
            opacity: 0.2;
            background: transparent;
            border: none;
            &>svg {
                fill: var(--color2OffCheck);
            }
        }
    }

    &:disabled {
        opacity: 0.2;
    }
}
